body {
    background-color: #eeeeee;
}

.menu-item {
    font-weight: bold;
    font-size: 2em;
}

.content {
    padding: 20px;
}

.collapsible-pad {
    padding: 10px;
}

.collapsible-active {
    display: block;
}