npm-debug.log
*.scssc
.sass-cache/*
.DS_Store
*-ck.js
providers_secret.js
*.sublime-project

*.sublime-workspace
codekit-config.json

config.rb

deploy.sh

.demeteorized

dump/
dump/*

settings.json
settings.json.not-used
settings.development.json
settings.production.json
.sass
sass_options.json
.idea

scratch

.deploy
.deploy/*
### Meteor template
.meteor/local
.meteor/meteorite
mup.json

bower_components
